In [1]:
import numpy as np
np.seterr(divide='ignore', invalid='ignore')
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
df = pd.read_csv('crop_production.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187769 entries, 0 to 187768
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     187769 non-null  object
 1   District_Name  187769 non-null  object
 2   Crop_Year      187769 non-null  int64
 3   Season         187769 non-null  object
 4   Crop           187769 non-null  object
 5   Area           187769 non-null  float64
 6   Production     184383 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 10.0+ MB

In [4]:
df.describe()

           Crop_Year          Area    Production
count  187769.000000  1.877690e+05  1.843830e+05
mean     2005.562878  1.157957e+04  7.231595e+05
std         4.892657  3.830655e+04  1.944848e+07
min      1997.000000  4.000000e-02  0.000000e+00
25%      2002.000000  8.700000e+01  9.585000e+01
50%      2005.000000  6.000000e+02  7.228000e+02
75%      2010.000000  4.300000e+03  6.770500e+03
max      2015.000000  1.020181e+06  1.250800e+09

In [5]:
len(df['State_Name'].unique())

28

In [6]:
len(df['Crop'].unique())

122

In [7]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [8]:
df.isnull().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3386
dtype: int64

In [9]:
df.dropna(inplace=True)

In [12]:
df = df[df['Production'] !=0]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184383 entries, 0 to 187768
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     184383 non-null  object
 1   District_Name  184383 non-null  object
 2   Crop_Year      184383 non-null  int64
 3   Season         184383 non-null  object
 4   Crop           184383 non-null  object
 5   Area           184383 non-null  float64
 6   Production     184383 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 11.3+ MB

In [13]:
df['Crop_Year'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2010, 1997, 1998, 1999,
       2007, 2008, 2009, 2011, 2012, 2013, 2014, 2015])

In [14]:
df['State_Name'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir ', 'Jharkhand',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu'], dtype=object)

In [15]:
df['District_Name'].nunique()

518

In [16]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df['Production'].sort_values(ascending = False)

178273   1250800000.00
178331   1212000000.00
100654   1125000000.00
100612   1063000000.00
100149   1059000000.00
              ...
122293            0.01
117513            0.01
119440            0.01
112248            0.01
104803            0.01
Name: Production, Length: 181162, dtype: float64

In [17]:
df[df['Area'] == 82704.00]

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
178273,Tamil Nadu,COIMBATORE,2011,Whole Year,Coconut,82704.00,1250800000.00

In [18]:
no_of_diff_crops = df['Crop'].nunique()
types_of_crops = df['Crop'].unique()

print('There are {} different types of crops'.format(no_of_diff_crops))
print('------------------------------------')
print('They different types of crops are :-',types_of_crops)

There are 104 different types of crops
------------------------------------
They different types of crops are :- ['Arecanut' 'Other Kharif pulses' 'Rice' 'Banana' 'Cashewnut' 'Coconut '
 'Dry ginger' 'Sugarcane' 'Sweet potato' 'Tapioca' 'Black pepper'
 'Dry chillies' 'other oilseeds' 'Turmeric' 'Maize' 'Moong(Green Gram)'
 'Urad' 'Arhar/Tur' 'Groundnut' 'Sunflower' 'Bajra' 'Castor seed'
 'Cotton(lint)' 'Horse-gram' 'Jowar' 'Korra' 'Ragi' 'Tobacco' 'Gram'
 'Wheat' 'Masoor' 'Sesamum' 'Linseed' 'Safflower' 'Onion'
 'other misc. pulses' 'Samai' 'Small millets' 'Coriander' 'Potato'
 'Other  Rabi pulses' 'Beans & Mutter(Vegetable)' 'Bhindi' 'Brinjal'
 'Citrus Fruit' 'Grapes' 'Mango' 'Orange' 'Other Fresh Fruits' 'Papaya'
 'Pome Fruit' 'Tomato' 'Soyabean' 'Mesta' 'Cowpea(Lobia)' 'Lemon'
 'Pome Granet' 'Sapota' 'Cabbage' 'Rapeseed &Mustard' 'Niger seed'
 'Varagu' 'Garlic' 'Ginger' 'Oilseeds total' 'Pulses total' 'Jute'
 'Peas & beans (Pulses)' 'Blackgram' 'Paddy' 'Pineapple' 'Barley'
 'Sannhamp' 'Khesari' 'Guar seed' 'Other Vegetables' 'Moth'
 'Other Cereals & Millets' 'Cond-spcs other' 'Turnip' 'Carrot' 'Redish'
 'Arcanut (Processed)' 'Atcanut (Raw)' 'Cashewnut Processed'
 'Cashewnut Raw' 'Cardamom' 'Rubber' 'Drum Stick' 'Jack Fruit' 'Tea'
 'Coffee' 'Total foodgrain' 'Cauliflower' 'Bitter Gourd' 'Bottle Gourd'
 'Kapas' 'Colocosia' 'Lentil' 'Bean' 'Jobster' 'Perilla' 'Rajmash Kholar'
 'Ricebean (nagadal)']

In [19]:
df['Season'].value_counts()

Kharif         70394
Rabi           46092
Whole Year     45232
Summer          9572
Winter          5592
Autumn          4280
Name: Season, dtype: int64